.lister{
    display: none;
    position: fixed;
    top: 60px;
    left: 10em;
    z-index: 1000;
    border: 2px solid rgb(31, 31, 32);
    border-radius: 5px;
    padding: 10px;
}
.lister table {
    background-color: blue;
}
body{
    
   
    background-color: rgb(121, 3, 3);
}


